//====================================================================================================
.main-section{
	background: url(@img/main.jpg);
	background-size: cover;
   background-repeat: no-repeat;
	background-position:center;
	height: 100vh;
	
	
}

.main-section p{
	padding: 100px;
		
}
//====================================================================================================
